<%- contentFor("title", "Checkout") %>

<%- contentFor("body") %>

<h1>Checkout</h1>

<p>Please wait while we redirect...</p>

<%- contentFor("js") %>

<script src="https://js.stripe.com/v3/"></script>
<script type="text/javascript">
       var stripe = Stripe('<%- publishableKey %>');
       stripe.redirectToCheckout({
         sessionId: '<%- sessionId %>'
       })
</script>